body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-container {
  margin-top: 2px;
  padding: 20px;
}
.header-container {
  position: fixed;
  width: 100%;
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #3498db;
  color: #fff;
  padding: 10px;
  z-index: 1000;
  border-bottom: 2px solid #2980b9; /* Border color for the frame */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.separator {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #2980b9;
}
.centered-text {
  text-align: center;
  position: fixed;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-content {
  text-align: center;
}
.modal-title {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.settingsButton {
  text-align: center;
  position: fixed;
  height: 98vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #333;
}
.actor1 {
  position: fixed;
  top: 50px;
  left: 80px;
  margin: 10px;
}

.actor1 img {
  width: 200px;
  height: auto;
}

.actor2 {
  position: fixed;
  top: 50px;
  right: 80px;
  margin: 10px;
}

.actor2 img {
  width: 200px;
  height: auto;
}
main {
  height: 65vh;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

menu-right {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

.movie-list {
  text-align: center;
  margin: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.grid-item {
  text-align: left;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid-item img {
  max-width: 100%;
  height: auto;
}

.grid-item h2 {
  margin-top: 0;
}
